<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ - Cửa hàng bán thời trang</title>
</head>
<body>
<div>
    <header>
        <a href="#">Home</a>
        <a href="/cart">View Cart</a>
        <a href="homepage">Admin Management</a>
    </header>
    <div>
        <form>

        </form>
        <table>
            <thead>

            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>
</body>
</html>