<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container-fluid">
    <header >
        <a href="/home">Home</a>
        <a href="">View Cart</a>
        <a href="#">Admin Management</a>
    </header>
    <div>
        <div >
            <h3 >Admin Management</h3>
            <div>
                <a href="/customer">Customer Management</a>
                <a href="/employee">Employee Management</a>
                <a href="/product">Product Management</a>
            </div>
        </div>
    </div>
    <div>

    </div>
</div>
</body>
</html>