<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin's Homepage - của hàng sản phẩm </title>
</head>
<body>
<div>
    <header >
        <a href="index.html">Home</a>
        <a href="/cart">View Cart</a>
        <a href="#">Admin Management</a>
    </header>
    <div>
        <div>
            <h3 >Admin Management</h3>
            <div>
                <a href="/customer">Customer Management</a>
                <a href="/employee">Employee Management</a>
                <a href="/product">Product Management</a>
            </div>
        </div>
    </div>
    <div>

    </div>
</div>
</body>
</html>